body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e9f4f6;
  background-image: url('http://theoreticalmachinist.com/Images/bsc1.png');
}
.nav-link{
  color: rgb(17, 17, 47)
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
img{
  width: 100%;
  height: 349px;
  
}
.btn-primary,
.btn-outline-primary {
  background-color: #0e141a;
  color: #d4c5c5;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.rating span {
  color: #ffc000;
}

.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img {
  width: 100%;
  max-width: 400px;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
}

.checkout-steps > div {
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #f08000;
  color: #f08000;
}

/* sidebar */
.navbar-brand {
  font-weight: bold;
}
.side-navbar {
  width: 240px;
  height: 100%;
  position: absolute;
  left: -300px;
  background-color: #06f863;
  transition: 0.5s;
}

.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 240px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}

/* Map */

.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}

.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
button.thumbnail {
  padding: 0;
}
@keyframes spinning {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}

.Footer{
  background: rgb(225, 225, 239) ;
  padding: 2rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}
footer a{
  color: var(--color-bg);
}
.footer__logo{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}
.permalink{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}
.footer__socials{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;


}
.footer__socials a{
  background: var(--color-bg);
  color: var(--color-white);
  border-radius: 0.7rem;
  padding: 0.8rem;
  display: flex;
  border: 1px solid transparent;

  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* linear | ease | ease-in | ease-out | ease-in-out */
  animation-timing-function: linear;
}
.footer__socials a:hover{
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
}
.footer__copyright{
  margin-bottom: 4rem;
  color: var(--color-bg);
}
/*---------------Media Query Tablet*/
@media screen and (max-width: 1024px) {


  }
  /*---------------Media Query phone*/
  @media screen and (max-width: 600px) {
      .permalink{
          flex-direction: column;
          gap: 1.5rem;
      }
      .footer__socials{
          margin-bottom: 2.6rem;
      }
  }


  form {
    width: 30vw;
    min-width: 500px;
    align-self: center;
    box-shadow: 10px 10px 10px 12px rgba(146, 246, 59, 0.1),
      10px 12px 15px 12px rgba(65, 245, 10, 0.1), 10px 11px 11.5px 12px rgba(16, 248, 27, 0.07);
    border-radius: 7px;
    padding: 10px;
    margin: 0 auto;
    background: #d4e7fe;
  }
  
  
     input {
      align-self: center;
      padding:10px;
      margin:5px;
      margin: 2px;
      -moz-box-sizing: border-box;
       -webkit-box-sizing: border-box;
      box-sizing: border-box;
      box-shadow: 0px 0px 0px 2px rgba(62, 235, 56, 0.1),
      0px 2px 5px 2px rgba(24, 230, 41, 0.1), 0px 1px 1.5px 2px rgba(101, 252, 96, 0.07);
    border-radius: 7px;
   
     }
     
     input:focus {
      background: gold;
      color: brown;
      font-size:24px;
     }
     
     input[type=color]:focus {
       border:2px solid rgb(10, 196, 150);
     }
               
     input:hover {
       width:250px;
       color: rgb(129, 197, 65);
     }
     
     input:active {
       background: rgb(87, 206, 97);
     }
     input[type=submit]{
     
      background-color: #04AA6D;
      border: none;
      color: white;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
     }
    .signin, legend, h1{
  text-align: center;
    }
    .signbtn{
      color: blue;
    }
  
  